<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eventriloquist</title>
	<link rel="stylesheet" href="/css/bulma.min.css">
	<link rel="stylesheet" href="/css/layout.css">
	<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	
	<div id="navbar">

		<nav class="navbar is-transparant" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item is-size-2" style="font-style:italic" href="/">
				Eventriloquist
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
			<a class="navbar-item" href="/accounts">
				Accounts
			</a>

			<a class="navbar-item" href="/events/calendar">
				Calendar
			</a>

			<a class="navbar-item" href="/events">
				Browse Events
			</a>

			<a class="navbar-item" href="/events/create">
				Create Event
			</a>

			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
				More
				</a>

				<div class="navbar-dropdown">
				<a class="navbar-item" href="/contact">
					Contact
				</a>
				<hr class="navbar-divider">
					<a class="navbar-item" href="/about">
					About
					</a>
				</div>
			</div>
			</div>

			<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					{{#if isLoggedIn}}
					<a class="navbar-item">
						<strong>{{username}}</strong>
					</a>
					<form action="/accounts/logout" method="POST">
						<input class="button is-dark" type="submit" value="Logout">
					</form>
					{{else}}
					<a class="button is-primary" href="/accounts/register">
						<strong>Register</strong>
					</a>
						<a class="button is-light" href="/accounts/login">
						Login
					</a>
					{{/if}}
				</div>
			</div>
			</div>
		</div>
		</nav>
	</div>
		
		<main>{{{body}}}</main>

</body>
</html>