<div class="columns is-centered" style="margin-top: 20%;">
	<div class="column is-5">
		<div class="column">
			<h3 class="title is-3">Register</h3>
		</div>
		<div id="login-section" class="box">
			<form class="has-text-left" action="" method="POST">

			<div class="field">
				<label class="label">Username</label>
				<input class="input" name="username" type="text" placeholder="Username">
			</div>
			<div class="field">
				<label class="label">Password</label>
				<input class="input" name="password" type="password" placeholder="Password">
			</div>

			<input class="button is-block is-primary is-fullwidth" type="submit" value="Register">

		</form>		
		</div>
	</div>
</div>