<div class="content">
	<h2>Sign up</h2>
	<p>Create a new account using the form below.</p>
</div>

<form action="" method="POST">
	
	<div class="form-group">
		<div>
			<label>Username:</label>
		</div>
		<div>
			<input name="username" value="{{username}}" class="form-input" type="text" id="input-username" placeholder="Username">
		</div>
	</div>
	
	<div>
		<div>
			<label>Password:</label>
		</div>
		<div>
			<input name="password" value="{{password}}" class="form-input" type="password" id="input-password" placeholder="Password">
		</div>
	</div>
	
	<input type="submit" value="Create Account">
	
</form>