<div class="content">
	<h2>Sign in</h2>
	<p>Sign in using the form below.</p>
</div>

<form action="" method="POST">

	<div>
		Username: <input type="text" name="username">
	</div>
	
	<div>
		Password: <input type="password" name="password">
	</div>

	<input type="submit" value="Login">

</form>