<div class="columns is-centered" style="margin-top: 10%;">
    <div class="column">
		<h3 class="is-size-3" id="monthAndYear"></h3>	
        <div class="box">
            <div class="field">
				<div class="table-container">

				
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="calendar">
                    <thead>
                    <tr>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>        
                    </tr>
                    </thead>

                    <tbody class= "" id="calendar-body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-light" id="previous" onclick="previous()">Previous</button>
                    </div>
                    <div class="control">
                        <button class="button is-light" id="next" onclick="next()">Next</button>
                    </div>
                </div>
                <br/>
                <div class="field">
                    <form class="control">
                    <label class="label" for="month">Jump To: </label>
                        <select class="select" name="month" id="month" onchange="jump()">
                            <option value=0>Jan</option>
                            <option value=1>Feb</option>
                            <option value=2>Mar</option>
                            <option value=3>Apr</option>
                            <option value=4>May</option>
                            <option value=5>Jun</option>
                            <option value=6>Jul</option>
                            <option value=7>Aug</option>
                            <option value=8>Sep</option>
                            <option value=9>Oct</option>
                            <option value=10>Nov</option>
                            <option value=11>Dec</option>
                        </select>


                        <label for="year"></label>
						<select class="select" name="year" id="year" onchange="jump()">
                            <option value=2018>2018</option>
                            <option value=2019>2019</option>
                            <option value=2020>2020</option>
                            <option value=2021>2021</option>
                            <option value=2022>2022</option>
                            <option value=2023>2023</option>
                            <option value=2024>2024</option>
                            <option value=2025>2025</option>
                        </select>
                    </form>
                </div>
			</div>
            </div>
        </div>
        <script>
        
            let today = new Date();
			console.log(today)
            let currentMonth = today.getMonth();
            let currentYear = today.getFullYear();
            let selectYear = document.getElementById("year");
            let selectMonth = document.getElementById("month");

            let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            let monthAndYear = document.getElementById("monthAndYear");
            showCalendar(currentMonth, currentYear);


            function next() {
                currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
                currentMonth = (currentMonth + 1) % 12;
                showCalendar(currentMonth, currentYear);
            }

            function previous() {
                currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
                currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
                showCalendar(currentMonth, currentYear);
            }

            function jump() {
                currentYear = parseInt(selectYear.value);
                currentMonth = parseInt(selectMonth.value);
                showCalendar(currentMonth, currentYear);
            }

            function showCalendar(month, year) {

                let firstDay = (new Date(year, month)).getDay();
                if (firstDay == 0) {
                firstDay = 7
                } // in order to get the days right since we want to start the week with monday and not sunday
                let daysInMonth = 32 - new Date(year, month, 32).getDate();

                let tbl = document.getElementById("calendar-body"); // body of the calendar

                // clearing all previous cells
                tbl.innerHTML = "";

                // filing data about month and in the page via DOM.
                monthAndYear.innerHTML = months[month] + " " + year;
                selectYear.value = year;
                selectMonth.value = month;

                // creating all cells
                let date = 1;
                for (let i = 0; i < 6; i++) {
                    // creates a table row
                    let row = document.createElement("tr");

                    //creating individual cells, filing them up with data.
                    for (let j = 0; j < 7; j++) {
                        if (i === 0 && j < firstDay-1) {
                            let cell = document.createElement("td");
                            let cellText = document.createTextNode("");
                            cell.appendChild(cellText);
                            row.appendChild(cell);
                        }
                        else if (date > daysInMonth) {
                            break;
                        }

                        else {
                            let cell = document.createElement("td");
                            let dateAnchor = document.createElement("a");
							let eventAnchor = document.createElement("a");
							let linebreak = document.createElement("br");
                            let cellText = document.createTextNode(date);
                            if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {
                                cell.classList.add("bg-info");
                            } // color today's date
                            cell.appendChild(dateAnchor);
                            dateAnchor.appendChild(cellText);
                            dateAnchor.setAttribute("href", "./events/"+year+"-"+(month+1)+"-"+date);

							cell.appendChild(linebreak)

							cell.appendChild(eventAnchor);
                            eventAnchor.appendChild(document.createTextNode("event.title"));

                            //eventAnchor.setAttribute("href", "./events/"+"event.title"+"/"+"event.id";

                            row.appendChild(cell);
                            date++;
                        }


                    }

                    tbl.appendChild(row); // appending each row into calendar body.
                }

            }
        </script>
    </div>
</div>






