<div class="columns is-centered" style="margin-top: 20%;">
	<div class="column is-5">
		{{#if error}}
			<div class="column">
				<h1 class="is-size-1">{{error}}</h1>
			</div>
		{{/if}}
	</div>
</div>