html{
	height: 100%;
}

body{
	background-color: rgb(255, 255, 255);
	min-height: 100%;
}

#navbar{
	max-width: 80%;
	margin: 0 auto;
}

main{
	padding: 8px;
	max-width: 60%;
	margin: 0 auto;
	height: calc(100vh + 20px);
}

p .error{
	color: red;
}

footer{
	height: 20px;
}


